
@media screen and (max-width: 600px) {
    .nav-container {
        width: 90%;
    }
    .toggle-bar i {
        display: block;
    }
    .nav-menu > ul > li {   
        display: block;
    }
    .nav-menu > ul > li > a {   
        font-size: 1.5rem;
    }
    .nav-menu {
        text-align: center;
        display: none;
    }   
    .banner-section {
        height: 65vh;
        width: 90%;
    }
    .banner-container {
        width : 90%;
    }
    .banner-title {
        font-size: 2rem;
        margin-bottom: 20px;
    }
    .input-box {
        display: flex;
        flex-direction: column;
        gap: 30px;
        text-align: center;
    }
    .popular-section {
        width : 90%;
        margin: 80px auto;
        flex-direction: column;
    }
    .popular-content {
        width : 90%;
    }
    .popular-image {
        width : 100%;
    }
    .popular-image img{
        width : 100%;
    }
    .destination-section {
        width : 90%;
        margin: 100px auto;
    }
    .destination-images {
        display: flex;
        flex-direction: column;
        gap : 5px;
    }
    .destination-title {
        font-size: 2.2rem;
        color: #131318;
    }
    .destination-description {
        font-size: 1rem;
        color: #262629;
        margin: 20px 0px;
    }
    .choose-section {
        width : 90%;
    }
    .choose-content {
        width: 90%;
        margin: 30px auto;
    }
    .box {
        width: 90%;
    }
    .choose-box {
        flex-direction: column;
    }
    .discount-section {
        width : 90%;
    }
    .discount-content {
        width : 90%;
    }
    .discount-title {
        font-size: 1.5rem;
    }
    .discount-box img {
        height: 50vh;
        object-fit: cover;
    }
    .discount-box-content {
        width: 70%;
        padding : 20px 10px;
        top : 20%;
        left: 16%;
    }
    #different-discount-box {
        top : 20%;
        left: 15%;
    }
    .i-text {
        font-size: 6px;
    }
    .discount-box-content p {
        font-size: 12px;
    }
    .discount-box-content h1 {
        font-size: 17px;
    }
    .discount-box-content h3 {
        font-size: 14px;
    }
    .button-div {
        width: 50%;
        margin: 50px auto;
    }
    .video-section {
        flex-direction: column;
        gap: 10px;
        width: 90%;;
    }
    .video-content {
        width: 90%;
        text-align: center;
    }
    .video {
        width: 90%;
        margin-top: 20px;
    }
    .video-text{
        font-size: 10px;
        top : 35%;
        left: 10%;
    }
    .bonus-section {
        width : 90%;
    }
    .award-content {
        width: 90%;
    }
    .award-images {
        flex-direction: column;
    }
    .sponsor-images {
        flex-direction: column;
        gap: 20px;
        margin: 20px auto;
    }
    .sponsor-images img {
        width: 30%;
    }
    .form-section {
        width: 90%;
        flex-direction: column;
        gap: 10px;
    }
    .form-container {
        width : 90%;
    }
    .form-image {
        width : 90%;
    }
    .form-img-text {
        font-size: 0.5rem;
        width: 40%;
        top : 55%;
        right : 10%;
    }
    footer {
        height: 40vh;
        margin-top: 40px;
    }
    .footer-container {
        width : 80%;
    }
    .logo {
        width : 100%;
        margin: 10px auto;
        justify-content: center;
    }
    .logo h1 {
        font-size: 20px;
    }
    .logo img {
        width : 10%;
    }
    .social i {
        font-size: 1.5rem;
        padding: 10px;
    }
}